.centre{
  background: #E7F0FF;
}

.verticale.donnees{
  padding: 2em;
}

.prenom::placeholder {
  color: gray;
}

.nom::placeholder {
  color: gray;
}

.mail::placeholder {
  color: gray;
}

.texte{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.envoyer{
  display: flex;
  justify-content: center;
}

.all.form-example {
  margin-top: 2em;
  margin-bottom: 2em;
  height: 300px;
}

.horizontal.form-example-mail {
  display:flex;
  justify-content: center;
  margin-bottom: 2em;
  width: 100%;
}

.horizontal.form-example {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
  
.vertical {
    display: flex;
    flex-flow: column nowrap;
}

.verticale.boites {
  margin-top: 3em;
  margin-bottom: 3em;
  width: calc(40% - 2 * 10px);
  background: #ececec;
  padding: 5em;
}

.horizontal.contact {
  display: flex;
  flex-flow: row;
  text-align: center;
  align-items: center;
  padding: 2em;
}

#email{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25px;
}

#name, #lastname {
  width: 45%;
  height: 25px;
}

#lastname{
  margin: 0;
}

.verticale.map {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

.barre {
  margin-bottom: 5em;
  margin-top: 5em;
}


/*responsive*/

@media (max-width: 1100px){
  #all {
    display: flex;
    flex-flow: column;
  }
  #formulaire {
    width: 100%;
    padding: 0;
  }
  #txt {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
  }
}
