.membreCont {
  background: #E7F0FF;
}
.box {
    text-align: center;
    width: 100%;
    margin-top: 0.5em;
    background: #ececec;
    box-shadow: 1px 1px 13px -2px rgba(0,0,0,0.54);
}

.titreMembre  {
  display: flex;
  height: 10em;
  flex-flow: row;
  justify-content: center;
}
.titreH {
  padding-top: 1.2em;
}
.horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
  
.verticale {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2em;
}
.ImageMembre  {
  width: 50%;
  margin-bottom: 0.5em;
}
.imgMembre {
  display: flex;
  justify-content: center;
  width: 100%;
  /* border-radius: 10px; */
  box-shadow: 1px 1px 13px -2px rgba(0,0,0,0.54);
}
#first  {
  margin-bottom: 2em;
}
#second  {
  margin-bottom: 2em;
}
#title {
  display: flex;
  justify-content: center;
  padding: 2em;
  font-size: 30px;
  
}
.membreTxt  {
  padding: 2em;
}


/*responsive*/

@media (max-width: 1100px){
  #first {
    display: flex;
    flex-flow: column-reverse;
  }
  #texte {
    width: auto;
  }
  #second {
    display: flex;
    flex-flow: column;
  }
  .ImageMembre  {
    width: 100%;
    margin: 0;
  }
  .box  {
    width: auto;
    margin: 0;
  }
}


.flex {
  display: flex;
}
.justify-content {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.align-items {
  align-items: center;
}

.width-80 {
  width: 80%;
}