.box {
    font-size: 2em;
    text-align: center;
    margin: 10px;
}

.horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
  
.vertical {
    display: flex;
    flex-flow: column nowrap;
}

#texte {
  margin: 50px;
  padding: 30px;
  width: calc(50% - 2 * 10px);
  display: flex;
  justify-content: center;
}

.imgMembre {
  display: flex;
  justify-content: center;
  width: 100%;
}

#title {
  display: flex;
  justify-content: center;
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  
}


#a, #d {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.horizontal.first-presentation {
    padding: 1em;
}

.horizontal.background {
    padding: 1em;
}


/*responsive*/

@media (max-width: 1100px){
  #first {
    display: flex;
    flex-flow: column-reverse;
  }
  #texte {
    width: auto;
  }
  #second {
    display: flex;
    flex-flow: column;
  }
}