.titrePart  {
    display: flex;
    height: 10em;
    flex-flow: row;
    justify-content: center;
}
.presPart   {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.textPart   {
    width: 40%;
}
.textP  {
    padding: 2em;
}
.imagePart  {
    display: flex;
    justify-content: center;
    width: 40%;
}
hr  {
    margin-top: 5em;
    margin-bottom: 5em;
}
.imageSpons {
    display: flex;
    margin-bottom: 3em;
    flex-flow: row;
    justify-content: space-around;
}
.logoSpons  {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 5em;
    margin-bottom: 2em;
}
.titreH {
    padding-top: 1.2em;
}
.barrePart  {
    margin-top: 5em;
    margin-bottom: 1em;
}
.imgPart{
    height: 100%;
}
.imgSpons {
    max-width: 100%;
    max-height: 100%;
}
.partCont {
    background: #E7F0FF;
}
@media (max-width: 950px)	{
    .presPart   {
        flex-flow: column nowrap;
    }
    .textPart   {
        width: 100%;
    }
    .imagePart  {
        width: 100%;
    }
    .imageSpons {
        flex-flow: column nowrap;
        align-items: center;
        width: 50%;
    }
    .spons   {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    .logoSpons  {
        width: 45%;
        height: auto;
    }
}