.titreProj  {
    display: flex;
    height: 10em;
    flex-flow: row;
    justify-content: center;
}
.presProj   {
    text-align: center;
    background: #ececec;
    box-shadow: 1px 1px 13px -2px rgba(0,0,0,0.54);
}
.titreH {
    padding-top: 1.2em;
}
p {
    font-family: 'Public Sans', sans-serif;
}
h1  {
    font-family: 'Roboto', sans-serif;
}
.contProj   {
    width: 80%;
}
.allContProj    {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #E7F0FF;
}
.texteImage {
    display: flex;
    flex-flow: row nowrap;
}
.imgProjPres    {
    max-height: 22em;
    margin: 2em;
    box-shadow: 1px 1px 13px -2px rgba(0,0,0,0.54);
}
.projetTexte    {
    display: flex;
    align-items: center;
    padding: 2em;
}
.imgProjPart    {
    max-height: 22em;
    margin-left: 2em;
}
h2  {
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
}
h3  {
    font-family: 'Roboto', sans-serif;
}
.blockProj  {
    margin-bottom: 5em;
}