.titreProj  {
    display: flex;
    height: 10em;
    flex-flow: row;
    justify-content: center;
}
.titreH {
    padding-top: 1.2em;
}
p {
    font-family: 'Public Sans', sans-serif;
}
h1  {
    font-family: 'Roboto', sans-serif;
}
.imageProj  {
    max-width: 50%;
    margin-left: 2em;
    margin-bottom: 1em;
    float: right;
}
.contProj   {
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 5em;
}